

body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color:paleturquoise;
}




li{
    padding-bottom:3px;
    color:white;
    
    list-style: none;
}
p{
    color:slateblue;
    
    text-align:center;
    font-size:x-large;
    
}

h2{
    
    margin-top: 10px;
    background-color:palevioletred;
    color: burlywood;
    border-radius: 15px;
}

input{

    text-align:center;
}

#scorecontainer{
    height:100%;
    width:100%;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.container{
    width:100vw;   /*view width*/
    height:100vh;   /*view height*/
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

button{
    display:inline-block;
    
    background-color:pink;
    border-radius: 20px;
    
    color:palevioletred;
    text-align: center;
    font-size:20px;
    padding:20px;
    width:150px;
    margin-top:8px;
}
button:hover{
    box-shadow:4px 4px 4px purple
}

#gamestartpage{
    display:flex;
    flex-direction: column;
    align-items: center;

}
#timer{
    
    background-color: plum;
    color:blueviolet;
    font-size:large;
    padding: 5px;
    text-align:center;
    border: 3px solid palevioletred;
    border-radius:40px;
}
#quizcontainer{
    display:none;
}
#resultshow{
    display:none;
}

#endquiz{
    text-align:center;
    display:none;
    flex-direction:column;
    align-items:center;
}



#scoredisplay{
    display:none;
    width:50%;
      
       border-radius: 30px;
    padding-bottom: 10px;
    background:plum;
}



#score-header{
    display:flex;
    justify-content: space-around;
    border-radius: 30px;
    margin-bottom:5px;
    background-color:palevioletred;
    color:purple;
    

}



#buttons{
    display:none;
}


#sign{
    margin:10px;
    height:25px;
}

#score-sign{
    display:inline-block;
    padding-left:40px;
    
    font-size: bold;
}

#actualscore{
    float:right;
    padding-right:35px;
    
    font-weight: bold;
}

#totalscore{
    padding-bottom:10px;
    font-size: x-large;
    
    
}

#highscore{
    height:20px;
    border-style: inset;
}